.font-normal { font-weight: $fw-normal; }
.font-medium { font-weight: $fw-medium; }
.font-heavy { font-weight: $fw-heavy; }

.relative { position: relative; }
.absolute { position: absolute; }

.line-height-14 { line-height: 1.4; }

.mb-4 { margin-bottom: 4rem; }
.mb-6 { margin-bottom: 6rem; }
