/**
 * Fonts
 */
$fallback-font: Arial, Helvetica, sans-serif;
$body-font: 'Avenir', $fallback-font;

$font-sizes-small: (
    h1: 2.6rem,
    h2: 2rem,
    h3: 1.8rem,
    h4: 1.4rem,
    h5: 1.2rem,
    body: 1.6rem
);

$font-sizes-large: (
    h1: 3rem,
    h2: 2.4rem,
    h3: 2rem,
    h4: 1.5rem,
    h5: 1.2rem,
    body: 1.8rem
);

$font-weights: (
    normal: 400,
    medium: 500,
    heavy: 900
);
$fw-normal: map-get($font-weights, 'normal');
$fw-medium: map-get($font-weights, 'medium');
$fw-heavy: map-get($font-weights, 'heavy');

/**
 * Widths and sizes
 */
$site-width-small: 660px;
$site-width-medium: 840px;
$site-width-large: 1120px;
$site-max-width: 1140px;

$small: 540;
$medium: 680;
$medium-large: 900;
$large: 1200;
$extra-large: 1400;
$huge: 1700;

$gutter-xs: 10px;
$gutter-sm: 10px;
$gutter: 30px;
$gutter-lg: 60px;
$gutter-xl: 90px;

/**
 * Colors
 */
$color-accent-1: #fbca5b;
$color-accent-2: #1324c4;

$color-black: #000000;
$color-white: #ffffff;

$color-gray-1: #e3e3e3;
$color-gray-2: #d8d8d8;
$color-gray-3: #aaaaaa;
