.intro {

    h1,
    p,
    &__arrow {
        margin-bottom: 5rem;
    }

    &__arrow {
        display: block;
        text-align: center;
    }

    @include bp-min($medium) {
        max-width: 70rem;

        &__arrow {
            text-align: left;
        }
    }
}
