.menu {

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $color-white;
        opacity: 0;
        z-index: 100;
        transform: translateX(100%);
        transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1), opacity .4s cubic-bezier(0.645, 0.045, 0.355, 1);

        @include bp-min($medium) {
            position: relative;
            width: auto;
            height: auto;
            transform: none;
            transition: none;
            opacity: 1;
        }

        &.is-open {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__header {
        margin-bottom: 6rem;
        padding: 2.6rem 1rem 1rem 1rem;
        display: flex;

        button {
            margin-left: auto;
        }

        @include bp-min($medium) {
            display: none;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        text-align: center;

        a {
            padding: 2rem 0;
            font-weight: $fw-heavy;
            @include font-size('h2');
            @include hocus {
                background-color: $color-gray-1;
            }
        }

        @include bp-min($medium) {
            flex-direction: row;
            justify-content: space-between;

            a {
                margin-left: 8rem;
                @include font-size('body');
                @include hocus {
                    background-color: transparent;
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    &__button {

        @include bp-min($medium) {
            display: none;
        }
    }

}
