.page-header {
    margin-bottom: 2rem;

    .title-dash {
        margin-bottom: 1rem;
    }

    @include bp-min($small) {
        margin-bottom: 6.5rem;
        max-width: 80%;
    }

    @include bp-min($large) {
        max-width: 60%;
    }
}
