.project-showcase {
    margin-bottom: 6rem;
    $self: &;

    @include bp-min($medium) {
        margin-bottom: 16rem;
        display: flex;

        &:nth-child(even) {
            flex-direction: row-reverse;

            #{$self}__content {
                padding-left: 0;
                padding-right: 5rem;
            }
        }
    }

    &__image {
        margin-left: -10px;
        margin-right: -10px;
        display: block;
        @include box-shadow;

        &:hover {

            img {
                transform: scale(1.02);
            }
        }

        @include bp-min($medium) {
            margin: 0;
            width: 55%;
            flex-shrink: 0;
            align-self: flex-start;
        }
    }

    &__content {
        padding-top: 2rem;

        @include bp-min($medium) {
            padding-left: 5rem;
        }
    }

    &__additional-info {
        display: none;
        border-top: 2px solid $color-gray-1;
        margin-top: 4rem;
        padding-top: 3rem;
        justify-content: space-between;
        color: $color-gray-3;
        @include font-size('h4');

        > div {
            width: calc(50% - 2rem);
        }

        h4 {
            margin-bottom: 1rem;
        }

        @include bp-min($large) {
            display: flex;
        }
    }

    h2 {
        margin-bottom: 1.1rem;
        font-weight: $fw-heavy;
    }


}
