.project-header {

    &__intro {
        border-bottom: 2px solid $color-gray-1;
        padding: 2rem 0 4rem;

        > p {
            @include font-size('h3');
        }

        @include bp-min($small) {
            padding: 6rem 0;
            display: flex;

            > p {
                padding-right: 12rem;
            }
        }
    }

    &__props {
        flex-shrink: 0;
        padding-right: 3rem;
    }

    &__prop {

        @include bp-min($large) {

            p {
                @include font-size('h4');
            }
        }
    }
}
