.project-header {

    &__intro {
        border-bottom: 1px solid $color-gray-1;
        padding: 6rem 0;
        display: flex;

        > p {
            padding-right: 12rem;
            line-height: 2;
            @include font-size('h3');
        }
    }

    &__props {
        flex-shrink: 0;
        padding-right: 3rem;
    }

    &__prop {
        margin-bottom: 1.6rem;

        h5 {
            text-transform: uppercase;
            color: $color-gray-3;
        }

        p {
            font-weight: $fw-medium;
            @include font-size('h4');
        }
    }
}
