.site-header {
    padding-top: 0;
    padding-bottom: 3rem;
    background-color: $color-white;

    @include bp-min($medium) {
        padding-top: 3rem;
    }

    &__inner {
        @include content(large);
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        align-items: center;
        background-color: $color-white;
    }

    &__logo {
        font-weight: $fw-medium;
        font-size: 2rem;

        @include bp-min($medium) {
            font-size: 3rem;
        }
    }

    .menu {
        margin-left: auto;
    }
}
