.site-header {
    @include content(large);
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    background-color: $color-white;
    // position: fixed;
    // z-index: 10;
    // left: 0;
    // top: 0;
    // width: 100%;

    @include bp-min($medium) {

    }

    h1 {
        font-weight: $fw-medium;
        font-size: 3rem;
    }

    nav {
        // padding-top: 10rem;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        text-align: center;

        @include bp-min($medium) {
            justify-content: space-between;
            flex-direction: row;
            max-width: 400px;
            width: 40%;
        }
    }
}
