.site-footer {
    margin-top: 4rem;
    @include content(large);

    &__inner {
        border-top: 2px solid $color-gray-2;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-gray-3;

        > span {
            order: 2;
            font-size: 1.2rem;
        }

        @include bp-min($medium) {
            flex-direction: row;
            justify-content: space-between;

            > span {
                font-size: 1.4rem;
                order: 1;
            }
        }
    }

    ul {
        margin-bottom: 1rem;
        display: flex;
        order: 1;

        @include bp-min($medium) {
            margin-bottom: 0;
            order: 2;
        }
    }

    li {
        margin-left: 2rem;
    }
}
