html {
    font-size: 62.5%;
}

body {
    font-family: $body-font; font-weight: normal; font-size: map-get($font-sizes-small, body);

    @include bp-min($small) {
        font-size: map-get($font-sizes-large, body);
    }
}

a {
    color: $color-black; text-decoration: none;

    @include hocus {
        text-decoration: none;
    }
}

.link {
    color: $color-accent-2;
    position: relative;
    display: inline-flex;
    align-items: center;

    @include hocus {

        &:after {
            transform: translateY(4px) scaleX(1.2);
            opacity: 0;
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: 2px;
        bottom: 0;
        height: 12px;
        width: calc(100% - 4px);
        opacity: 1;
        background-color: rgba($color-accent-1, 0.35);
        transition: transform .2s ease-out, opacity .2s ease-out;
    }

    &__icon {
        margin-left: 4px;
    }
}

h1,
.h1 {
    @include font-size('h1');
    line-height: 1.1;
}

h2,
.h2 {
    @include font-size('h2');
}

h3,
.h3 {
    @include font-size('h3');
    margin-bottom: 1rem;
}

h4,
.h4 {
    @include font-size('h4');
    font-weight: $fw-heavy;
    text-transform: uppercase;
}
