@tailwind base;

.link {
  @apply text-blue;
  @apply leading-tight;
  @apply relative;
  @apply z-10;
  @apply font-bold;
  @apply inline-block;

  &:after {
    content: '';
    height: 25%;
    min-height: 8px;
    opacity: 0.35;
    left: -2%;
    right: -2%;
    top: 50%;
    transform: translateY(25%);
    @apply z-20;
    @apply bg-yellow;
    @apply absolute;
  }

  &:hover,
  &:focus {

    &:after {
      @apply hidden;
    }
  }
}

@tailwind components;
@tailwind utilities;
